# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
!pip install -U scipy

Requirement already satisfied: scipy in /Users/aryasheth/anaconda3/lib/python3.10/site-packages (1.11.1)
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in /Users/aryasheth/anaconda3/lib/python3.10/site-packages (from scipy) (1.23.5)

In [ ]:
# import numpy and pandas

In [2]:
import pandas as pd
import numpy as np
from scipy import stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [3]:
data = pd.read_csv('Salaries.csv')

/var/folders/6c/5stclpld7w5frqs_r1bxtwbw0000gn/T/ipykernel_30921/2928864109.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Salaries.csv')

Examine the `salaries` dataset using the `head` function below.

In [ ]:
# Your code here:

In [4]:
display(data.shape)
data.head()

(148654, 13)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [ ]:
# Your code here:

In [5]:
missing_values = data.isnull().sum()
print(missing_values)

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Get the shape of the dataframe

In [ ]:
# Your code here

In [6]:
data.shape

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [ ]:
# Your code here
#made changes according to results expected

In [7]:
data = data.drop(columns=['Notes'])
missing_values = data.isnull().sum()
print(missing_values)

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Check out what are the possible values of the column "Status".

In [ ]:
# Your code here

In [8]:
status_values = data['Status'].unique()

In [9]:
print(status_values)

[nan 'PT' 'FT']

# Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [ ]:
# Your code here

In [ ]:
# Your code here

In [10]:
data = data.dropna(subset=['Status'])
missing_values = data.isnull().sum()
print(missing_values)

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

Check out the types of each column and see if they make sense.

In [ ]:
# Your code here

In [11]:
column_types = data.dtypes
print(column_types)

Id                    int64
EmployeeName         object
JobTitle             object
BasePay              object
OvertimePay          object
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Agency               object
Status               object
dtype: object

In [ ]:
# Your code here

Do any type conversions and reset the index.

In [ ]:
# Your code here

In [13]:
data['BasePay'] = pd.to_numeric(data['BasePay'], errors='coerce')
data['OvertimePay'] = pd.to_numeric(data['OvertimePay'], errors='coerce')
data['OtherPay'] = pd.to_numeric(data['OtherPay'], errors='coerce')
data['Benefits'] = pd.to_numeric(data['Benefits'], errors='coerce')
data.reset_index(drop=True, inplace=True)

In [ ]:
# Your code here

In [14]:
display(data)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT
...,...,...,...,...,...,...,...,...,...,...,...,...
38114,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
38115,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
38116,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
38117,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
38118,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,San Francisco,PT

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

In [ ]:
# Your code here

In [15]:
data['TotalPayBenefits_Check'] = (data['BasePay'] + data['OvertimePay'] + data['OtherPay'] + data['Benefits']) == data['TotalPayBenefits']

What is the percetage of employees for which the previous assumption is not True?

In [ ]:
# Your code here:

In [16]:
percentage = (data['TotalPayBenefits_Check'] == False).mean() * 100
print(percentage)

26.29135076995724

There are different departments in the city. List all departments and the count of employees in each department.

In [ ]:
# Your code here:

In [17]:
employee_count = data.groupby('JobTitle').size()

employee_count = employee_count.sort_values(ascending=False)

print(employee_count)

JobTitle
Transit Operator                  2479
Special Nurse                     1478
Registered Nurse                  1234
Public Svc Aide-Public Works       916
Firefighter                        815
                                  ...
Marina Associate Manager             1
Marina Assistant Manager             1
Light Rail Vehicle Equip Eng         1
Lieutenant (Police Department)       1
Youth Comm Advisor                   1
Length: 996, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [ ]:
# Your code here: (compute the "Hourly_Wage")

In [ ]:
# Your code here: (Compute the mean hourly wage for all the "FT" employees)

In [ ]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees

In [ ]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [ ]:
# Method 2: Use the p-value method.
# Your code here:

In [21]:
data['Hourly_Wage'] = data['TotalPayBenefits'] / (50 * 40)
ft_mean_hourly_wage = data[data['Status'] == 'FT']['Hourly_Wage'].mean()
t_statistic, p_value = stats.ttest_1samp(data[data['Status'] == 'FT']['Hourly_Wage'], 75)
print(ft_mean_hourly_wage)
print(t_statistic)
print(p_value)

69.26420640727143
-35.80631941460526
4.517831233839447e-273

In [ ]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

Are all the methods in agreement?

We are also curious about salaries in the police force. The chief of police in San Francisco claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits". Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check in "Police" is in the "JobTitle" to get all the "Police" jobs.

In [ ]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees

In [22]:
police_mean_salary = data[data['JobTitle'].str.contains('POLICE', case=False)]['TotalPayBenefits'].mean()
t_statistic, p_value = stats.ttest_1samp(data[data['JobTitle'].str.contains('POLICE', case=False)]['TotalPayBenefits'], 86000)
print(police_mean_salary)
print(t_statistic)
print(p_value)

148349.04212519727
50.252984742109945
0.0

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [ ]:
# Your code here: (Get the department which has most employees)

In [23]:
department_most_employees = data['JobTitle'].value_counts().index[0]
hourly_wage_mean = data[data['JobTitle'] == department_most_employees]['Hourly_Wage'].mean()
t_statistic, p_value = stats.ttest_1samp(data[data['JobTitle'] == department_most_employees]['Hourly_Wage'], 35)
print(department_most_employees)
print(hourly_wage_mean)
print(t_statistic)
print(p_value)

Transit Operator
43.359497739007665
19.064990324906386
1.0025543388407842e-75

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

In [ ]:
# Method 1: Get the critical values which correspond to a 95% confidence.
# Your code here:

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [ ]:
# Your code here:

# Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policemen" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [ ]:
# Your code here: (Create the function)

In [ ]:
# Your code here: (Apply the function)

In [24]:
def get_employee_group(title):
    if 'POLICE' in title:
        return 'Policemen'
    elif 'FIRE' in title:
        return 'Firemen'
    elif 'MED' in title or 'NURSE' in title:
        return 'Medical'
    elif 'ATTORNEY' in title:
        return 'Lawyer'
    else:
        return 'Other'

data['employee_group'] = data['JobTitle'].apply(lambda x: get_employee_group(x))
observed_frequencies = pd.crosstab(data['employee_group'], data['Status'])
chi2_statistic, p_value, _, expected_frequencies = stats.chi2_contingency(observed_frequencies)
print(observed_frequencies)
print(chi2_statistic)
print(p_value)
print(expected_frequencies)

Status             FT     PT
employee_group
Other           22334  15785
0.0
1.0
[[22334. 15785.]]

Determine how many "PT" and "FT" employess have all the employees groups.

In [ ]:
# Your code here: (Store the output dataframe into a new variable)

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [ ]:
# Create an empty dataframe named "frequencies" to store the data.
# Your code here:

In [25]:
frequencies = pd.DataFrame()

In [27]:
print(observed_frequencies.index)
print(observed_frequencies.columns)

Index(['Other'], dtype='object', name='employee_group')
Index(['FT', 'PT'], dtype='object', name='Status')

In [ ]:
# Your code here: Compute Expected frequency of being "Firemen" and "FT". Store the solution in a variable named "firemen_ft"

In [34]:
firemen_ft = (observed_frequencies.loc['Firefighter', 'FT'] / observed_frequencies.sum().sum()) * observed_frequencies.sum(axis=1)['Firefighter']
frequencies.loc[0, 'FT'] = firemen_ft

In [ ]:
# Your code here: Compute Expected frequency of being "Firemen" and "PT". Store the solution in a variable named "firemen_pt"

In [35]:
firemen_pt = (observed_frequencies.loc['Firefighter', 'PT'] / observed_frequencies.sum().sum()) * observed_frequencies.sum(axis=1)['Firefighter']
frequencies.loc[0, 'PT'] = firemen_pt

In [ ]:
# Your code here: Compute Expected frequency of being "Lawyers" and "FT". Store the solution in a variable named "lawyers_ft"

In [36]:
lawyers_ft = (observed_frequencies.loc['Lawyers', 'FT'] / observed_frequencies.sum().sum()) * observed_frequencies.sum(axis=1)['Lawyers']
frequencies.loc[1, 'FT'] = lawyers_ft

KeyError: 'Lawyers'

In [ ]:
# Your code here: Compute Expected frequency of being "Lawyers" and "PT". Store the solution in a variable named "lawyers_pt"

In [37]:
lawyers_pt = (observed_frequencies.loc['Lawyer', 'PT'] / observed_frequencies.sum().sum()) * observed_frequencies.sum(axis=1)['Lawyer']
frequencies.loc[1, 'PT'] = lawyers_pt

KeyError: 'Lawyer'

In [ ]:
# Your code here: Compute Expected frequency of being "Medical" and "FT". Store the solution in a variable named "medical_ft"

In [ ]:
medical_ft = (observed_frequencies.loc['Medical', 'FT'] / observed_frequencies.sum().sum()) * observed_frequencies.sum(axis=1)['Medical']
frequencies.loc[2, 'FT'] = medical_ft

In [ ]:
# Your code here: Compute Expected frequency of being "Medical" and "PT". Store the solution in a variable named "medical_pt"

In [ ]:
medical_pt = (observed_frequencies.loc['Medical', 'PT'] / observed_frequencies.sum().sum()) * observed_frequencies.sum(axis=1)['Medical']
frequencies.loc[2, 'PT'] = medical_pt

In [ ]:
# Your code here: Compute Expected frequency of being "Other" and "FT". Store the solution in a variable named "other_ft"

In [ ]:
# Your code here: Compute Expected frequency of being "Other" and "PT". Store the solution in a variable named "other_pt"

In [ ]:
# Your code here: Compute Expected frequency of being "Policement" and "FT". Store the solution in a variable named "policemen_ft"

In [ ]:
# Your code here: Compute Expected frequency of being "Policement" and "PT". Store the solution in a variable named "policemen_pt"

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [ ]:
# Your code here:

In [ ]:
expected_frequencies = pd.DataFrame(frequencies)

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [ ]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:
# The Chi2 value
# The p-valueYea we 
# The expected frequencies.
# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05

In [ ]:
expected_frequencies = pd.DataFrame({
    'FT': [firemen_ft, lawyers_ft, medical_ft, other_ft, policemen_ft],
    'PT': [firemen_pt, lawyers_pt, medical_pt, other_pt, policemen_pt]
})

chi2_value, p_value, dof, expected = st.chi2_contingency(observed_frequencies)

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function

In [ ]:
print("Manually computed expected frequencies:")
print(expected_frequencies)
print("\nExpected frequencies obtained from st.chi2_contingency():")
print(expected)